<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forms</title>
</head>
<body>
    <h1>forms datails </h1>
    <form>
        <fieldset>
            <legend>Form Enquery</legend>
            
            Image: <input type="file" name="image">
            <br><br>
            Name: <input type="text" name="name" placeholder="Enter your name">
            <br><br>
            Email: <input type="email" name="email" placeholder="Enter the email">
            <br><br>
            Password: <input type="password" name="password" placeholder="enter the password">
            <br><br>
            Gender: <input type="radio" value="M" name="Gender">Male
                    <input type="radio" value="F" name="Gender">Female
                    <input type="radio" value="oth" name="Gender">other   
            <br><br>
            Education: <input type="text" value="" name="education" required placeholder="education">
            <br><br>
            Age: <input type="number" value="" placeholder="age" name="age" min="0" max="30">
            <br><br>
            Addresss: <textarea type="text" name="area" placeholder="your address"></textarea>  
            <br><br>
            Hobby: <input type="checkbox" name="hobby{}"/>danceing
                   <input type="checkbox" name="hobby{}"/>singing
                   <input type="checkbox" name="hobby{}"/>reading
            <br><br>
            CV file: <input type="file" name="profile">
            <br><br>
            <button>submit</button>
        </fieldset>
    </form>
</body>
</html>

